<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<script>
    
    function showAnswer(element)
    {
        var aDiv = element;
        var aAnswer = aDiv.parentElement.getElementsByClassName("answer")[0];
        var aVote = aDiv.parentElement.getElementsByClassName("more")[0];

        aAnswer.style.display= "block";
        aAnswer.style.maxHeight= aAnswer.scrollHeight + "px";
        aVote.style.display= "none";
    }

    </script>

<style>
    body
    {
        font-family: "Helvetica","Helvetica-neue", "sans-serif";
        font-size: 9pt;
        line-height: 14pt;
        margin: 0px;
    }

.suggestion
{
    padding: 10px;
    padding-right: 14px;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
    border-bottom-style: solid;
    position: relative;
}

a
{
    color: #19a9e5;
    text-decoration: none;
}

.question
{
    font-weight: bold;
    margin-bottom: 2px;
    padding-top: 2px;
    color: black;
}



.answer
{
    max-height:0px;
    overflow: hidden;
    transition: max-height 0.3s;
    -webkit-transition: max-height 0.3s;
}

.answer a
{
    text-decoration: underline;
}

.more
{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #19a9e5;
    border-radius:6px;
    padding-top:2px;
    padding-bottom:1px;
    padding-left:6px;
    padding-right:6px;
    cursor: pointer;
    font-size:11px;
    color: white;
}

.more a
{
    text-decoration: none;
}

.voteButton
{
    height: 16px;
    width: 16px;
    opacity: 0.5;
}

.voteButton:hover
{
    opacity: 1.0;
}

</style>
<body>
    %@
</body>
</html>